<h3><%= @email.object %></h3>
<p><%= @email.body %></p>

<%= link_to "Mark as unread", email_path(@email.id),method: "PUT", class: "btn btn-secondary", remote: true %>
<%= link_to "Delete email", email_path(@email.id), method: "DELETE", class: "btn btn-danger", remote: true %>